/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.sidebar {
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Full width at the top */
  height: 90px; 
  top: 0;
  left: 0;
  z-index: 1000;
  position: sticky;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.logo img {
  max-width: 90px;
}

.sections-side {
  display: flex;
  gap: 30px; /* Space between items */
}

.sections-side p {
  padding-right: 25px;
  font-size: 1rem;
  color: black;
}

.sections-side p a {
  text-decoration: none;
  color: black;
}

/* Styles for the active link */
.active-link {
  font-weight: bold;
  font-size: 1.1rem;
}


/* Main Content Styles */
.main-content {
  padding: 30px;
  flex-grow: 1;
}

.dashboard h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.dashboard-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

h1, h2, h3 {
  font-family: "Encode Sans Condensed", serif;
}

/* Flowchart */
.flowchart {
  flex: 1;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
}

/* Job Updates Section */
.new-job-updates {
  margin-top: 30px;
}


/* FAQ */
.faq-container {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.faq-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
}

.faq-toggle-icon {
  font-size: 20px;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  padding-left: 10px;
}

.student-details{
  display: flex;
  padding: 20px 30px;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
    justify-content: flex-start; /* Aligns logo and links to the left on smaller screens */
  }

  .sections-side {
    gap: 20px; /* Reduce gap between links on smaller screens */
  }

  .main-content {
    padding: 15px;
  }

  .dashboard-content {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: flex-start;
    padding: 10px 15px;
  }

  .main-content {
    margin-top: 60px; /* Adjust margin for smaller screens */
  }

  .dashboard-content {
    flex-direction: column;
    gap: 15px;
  }

  .sections-side {
    flex-direction: column; /* Stack the links vertically on mobile */
    align-items: flex-start;
    gap: 10px;
  }

  .sections-side p {
    padding: 10px;
    font-size: 1rem;
  }
}
